*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    user-select: none; /* disabling the undraggable cursor */
	/* -webkit-user-drag: none; */
	/* -webkit-app-region: no-drag; */
	/* cursor: default; */
}

html {
    box-sizing: border-box;
}

body {
    background: #211f1f;
    color: white;
    font-family: 'Poppins', 'Noto Sans JP', sans-serif;
}

header h1{
    text-align: center;
    padding: 25px;
    color: #f2aa4cff;
    font-size: 45px;
}

body main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main #settings {
    width: 200px;
    height: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #343434;
}

#settings button {
    background: transparent;
    color: #f2aa4c;
    font-size: 16px;
    width: 75%;
    padding: 10px 20px;
    border: 2px solid #f2aa4c;
    border-radius: 5px;
    cursor: pointer;
}

#settings button:hover {
    transform: scale(1.1);
}

#settings button.active {
    transform: scale(1.1);
    box-shadow: 5px black;
    box-shadow: 0px 0px 20px 5px #f2aa4ca6;
}

#settings #gridSizing #gridSize {
    text-align: center;
}

input[type="range"] {
    height: 2px;
    appearance: none;
    background: #f2aa4c;
    border-radius: 5px;
}

main #drawingSection {
    display: flex;
    flex-direction: column;
}

#drawingSection #canvasOptions {
    display: flex;
    justify-content: space-evenly;
}

input[type="color"] {
    background: transparent;
    border: none;
    width: 120%;
    height: 120%;
    transform: translateX(-6px) translateY(-5px);
}

.pickerWrapper {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.pickerWrapper:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 5px black;
    box-shadow: 0px 0px 20px 5px #f2aa4ca6;
}

#canvasOptions .picker {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;
}

#canvasOptions #drawMode #modePicker {
    background: transparent;
    color: #f2aa4c;
    font-size: 16px;
    width: 100px;
    padding: 10px 10px;
    border: 2px solid #f2aa4c;
    border-radius: 5px;
    cursor: pointer;
}

#modePicker:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 5px black;
    box-shadow: 0px 0px 20px 5px #f2aa4ca6;
}

.pickerText {color: #f2aa4c;}

main #drawingSection #gridOuterContainer {
    width: 650px;
    height: 650px;
    background: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#gridOuterContainer #gridContainer {
    display: grid;
    width: 605px;
    height: 601px;
    background: white;
}

/* FOOTER */
body footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #f2aa4c;
}

footer #profile {
    margin-top: 6px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#profile:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s;
}

footer #profileText {
    text-decoration: none;
    margin: 8px;
    color: #f2aa4c;
}

footer #profileText:hover {
    color: hsla(350, 63%, 72%, 0.966);
    text-decoration: underline;
}

@media(max-width: 1075px) {
    main #settings {
        height: 535px;
        width: 175px;
    }

    #settings button {
        font-size: 14px;
        width: 70%;
        padding: 7px 10px;
    }

    main #drawingSection #gridOuterContainer {
        width: 500px;
        height: 500px;
    }

    #drawingSection #canvasOptions {
        font-size: 14px
    }

    input[type="color"] {
        width: 130%;
        height: 130%;
        transform: translateX(-4px) translateY(-7px);
    }

    .pickerWrapper {
        width: 40px;
        height: 40px;
    }

    #canvasOptions #drawMode #modePicker {
        font-size: 14px;
        width: 83px;
        padding: 5px 8px;
        margin: 10px;
    }

    #gridOuterContainer #gridContainer {
        width: 453px;
        height: 451px;
    }
}

@media(max-width: 790px) {
    body main {
        flex-direction: column-reverse;
        gap: 20px;
    }

    main #settings {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        width: 470px;
        height: 140px;
        padding: 10px 0px;
    }

    #settings button {
        font-size: 12px;
        width: 100px;
        padding: 8px 5px;
    }

    #settings #gridSizing {
        order: 1;
    }

    #settings #gridSizing #gridSize {
        font-size: 10px;
    }

    input[type="range"] {
        width: 250px;
    }

    main #drawingSection #gridOuterContainer {
        width: 450px;
        height: 450px;
    }

    #drawingSection #canvasOptions {
        font-size: 12px
    }

    input[type="color"] {
        width: 140%;
        height: 140%;
        transform: translateX(-4px) translateY(-6px);
    }

    .pickerWrapper {
        width: 35px;
        height: 35px;
    }

    #canvasOptions #drawMode #modePicker {
        font-size: 12px;
        width: 80px;
        padding: 5px 8px;
        margin: 10px;
    }

    #gridOuterContainer #gridContainer {
        width: 403px;
        height: 400px;
    }
}